.card {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(127, 35, 35);
  color: white;
  border-radius: 10px;
}
.card:hover {
  cursor: pointer;
}
.image {
  width: 100px;
  height: 135.41px;
  border-radius: 20px;
}
